.vs
ChiaPlotStatus.csproj.user
obj
ChiaPlotStatusLib/obj
ChiaPlotStatusLib/bin
ChiaPlotStatusLib/.vs
ChiaPlotStatusGUI/obj
ChiaPlotStatusGUI/bin
ChiaPlotStatusGUI/.vs
ChiaPlotStatusCli/obj
ChiaPlotStatusCli/bin
ChiaPlotStatusCli/.vs
release
Notes.txt
website
Packaging
Properties/PlotProgress.cs
