<ul class="nav" id="main-menu">
    <li class="nav-item">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
            <i class="bi bi-table"></i> Plotting Logs
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="LogFolders">
            <i class="bi bi-folder"></i> Plotting Log Folders
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="Statistics">
            <i class="bi bi-graph-up"></i> Plotting Statistics
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="HarvestStats">
            <i class="bi bi-graph-up"></i> Harvest Statistics
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="counter">
            <i class="bi bi-calculator"></i> Counter
        </NavLink>
    </li>
</ul>
